{{!-- admin block --}}
<section class="adminblock">
    <div class="container">
        <div style="padding-top: 3vh;padding-bottom: 30vh;color:#000;">
            <div class="card">
                <div class="card-body" style="font-size:15px;">
                    <img src="{{user.driverimage}}"
                        style="width: 45px;height:45px;border-radius: 50%;object-fit:cover;">
                    <div style="display: inline-block;position: relative;top: 10px;left:5px;">
                        <strong>{{user.firstname}} {{user.lastname}}</strong> <i id="dashtitle"></i> <br>
                        <span>
                            {{user.ridecompleted}} rides completed
                        </span>
                    </div>
                    <div style="margin-top: 10px;">
                        {{user.vehicletype}} <i class="fa fa-circle"
                            style="font-size: 5px;position: relative;top:-3px;padding:0 3px;"></i> {{user.vehiclename}}
                        <span
                            style="border: 1.2px solid #000;padding:1px 3px;float: right;">{{user.vehiclenumber}}</span>
                    </div>
                </div>
            </div>

            <div style="display: flex;flex-direction:row;justify-content:space-between;align-items:center;">
                <a href="/your-rides" class="btn"
                    style="color:#000;padding:8px;margin-top:15px;width:30%;border: 1px solid rgba(0,0,0,0.125);"><i
                        class="fa fa-car" style="font-size: 16px;"></i> <br>
                    My Rides</a>
                <a href="https://tawk.to/chat/5dd4380fd96992700fc83c04/default" class="btn"
                    style="color:#000;padding:8px;margin-top:15px;width:30%;border: 1px solid rgba(0,0,0,0.125);" target="_blank"><i
                        class="fa fa-question-circle" style="font-size: 16px;"></i> <br>
                    Contact</a>
                <a href="/admin-logout" class="btn"
                    style="color:#000;padding:8px;margin-top:15px;width:30%;border: 1px solid rgba(0,0,0,0.125);"><i
                        class="fa fa-sign-out-alt" style="font-size: 16px;"></i> <br>
                    Log Out</a>
            </div>
            <br>
            <br>
            <form action="/admin/changestatus/{{user._id}}?_method=PUT" method="POST">
                <div
                    style="display: flex;flex-direction:row;justify-content:space-between;align-items:center;margin-bottom:68px;">
                    <h5 style="margin: 0;font-size:15px;"># ME.AVAILABLE</h5>
                    <div style="width: 45%;">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="available" value="yes" id="availableyes">
                            <label class="form-check-label">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="available" value="no" id="availableno">
                            <label class="form-check-label">No</label>
                        </div>
                    </div>
                </div>
                <div
                    style="display: flex;flex-direction:row;justify-content:space-between;align-items:center;margin-bottom:60px;">
                    <h5 style="margin: 0;font-size:15px;"># CURRENT CITY</h5>
                    <div style="width: 45%;">
                        <select class="form-control" name="city" required id="city">
                            <option value="">Your Pickup Location</option>
                            <option value="nepalgunj">Nepalunj</option>
                            <option value="kohalpur">Kohalpur</option>
                        </select>
                    </div>
                </div>
                <div
                    style="display: flex;flex-direction:row;justify-content:space-between;align-items:center;margin-bottom:60px;">
                    <h5 style="margin: 0;font-size:15px;"># YOUR PURPOSE</h5>
                    <div style="width: 45%;">
                        <select class="form-control" name="purpose" required id="purpose">
                            <option value="">Enter Your Purpose</option>
                            <option value="adresspickup">Adress Pickup</option>
                            <option value="longdistance">Long Distance</option>
                            <option value="parceldelivery">Parcel Delivery</option>
                        </select>
                    </div>
                </div>
                <div style="display: flex;flex-direction:row;justify-content:space-between;align-items:center;">
                    <h5 style="margin: 0;font-size:15px;"># GEO LOCATION</h5>
                    <div style="width: 45%;">
                        <input type="text" class="form-control" name="lon" id="lon" placeholder="longitude"
                            value="{{lon}}">
                        <input type="text" class="form-control" name="lat" id="lat" placeholder="latitude"
                            value="{{lat}}">
                        <button onclick="run()" class="btn" type="button"
                            style="color:#fff;background:#000;padding: 8px;float: right;"><img src="/img/gps.svg"
                                style="width:19px;"> Find ME</button>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <button class="btn" style="color:#fff;background: rgb(17, 147, 154);padding: 8px;float: right;"><i
                        class="fas fa-edit"></i>
                    Change Status</button>
            </form>
        </div>
    </div>
</section>

{{!-- customer block --}}
<section class="customerblock">
    <div class="container">
        <div style="padding-top: 3vh;padding-bottom: 30vh;color:#000;">
            <div class="card">
                <div class="card-body">
                    <h5 style="font-weight: bold;margin:0;">
                        Welcome {{user.firstname}} <br>
                        <small>
                            {{user.ridecompleted}} rides completed
                        </small>
                    </h5>
                </div>
            </div>

            <div style="display: flex;flex-direction:row;justify-content:space-between;align-items:center;">
                <a href="/your-rides" class="btn"
                    style="color:#000;padding:8px;margin-top:15px;width:30%;border: 1px solid rgba(0,0,0,0.125);"><i
                        class="fa fa-car" style="font-size: 16px;"></i> <br>
                    My Rides</a>
                <a href="https://tawk.to/chat/5dd4380fd96992700fc83c04/default" class="btn"
                    style="color:#000;padding:8px;margin-top:15px;width:30%;border: 1px solid rgba(0,0,0,0.125);" target="_blank"><i
                        class="fa fa-question-circle" style="font-size: 16px;"></i> <br>
                    Contact</a>
                <a href="/admin-logout" class="btn"
                    style="color:#000;padding:8px;margin-top:15px;width:30%;border: 1px solid rgba(0,0,0,0.125);"><i
                        class="fa fa-sign-out-alt" style="font-size: 16px;"></i> <br>
                    Log Out</a>
            </div>
            <br>
            <br>
            <form action="/customer/changestatus/{{user._id}}?_method=PUT" method="POST">
                <div
                    style="display: flex;flex-direction:row;justify-content:space-between;align-items:center;margin-bottom:68px;">
                    <h5 style="margin: 0;font-size:15px;"># Email / Number</h5>
                    <div style="width: 45%;">
                        <input type="text" class="form-control" name="email" value="{{user.email}}"
                            placeholder="Enter email" style="margin:0;" readonly>
                    </div>
                </div>
                <div
                    style="display: flex;flex-direction:row;justify-content:space-between;align-items:center;margin-bottom:60px;">
                    <h5 style="margin: 0;font-size:15px;"># First Name</h5>
                    <div style="width: 45%;">
                        <input type="text" class="form-control" name="firstname" value="{{user.firstname}}"
                            placeholder="Enter first name" style="margin:0;">
                    </div>
                </div>
                <div style="display: flex;flex-direction:row;justify-content:space-between;align-items:center;">
                    <h5 style="margin: 0;font-size:15px;"># Last Name</h5>
                    <div style="width: 45%;">
                        <input type="text" class="form-control" name="lastname" value="{{user.lastname}}"
                            placeholder="Enter last name" style="margin:0;">
                    </div>
                </div>
                <br>
                <br>
                <br>
                <button class="btn" style="color:#fff;background: rgb(17, 147, 154);padding: 8px;float: right;"><i
                        class="fas fa-edit"></i>
                    Change Info</button>
            </form>
        </div>
    </div>
</section>

<script>
    let available = "{{user.available}}"
    if (available == "yes") {
        document.getElementById("availableyes").checked = true;
    }
    if (available == "no") {
        document.getElementById("availableno").checked = true;
    }


    let city = "{{user.city}}"
    document.getElementById('city').value = city;


    let purpose = "{{user.purpose}}"
    document.getElementById('purpose').value = purpose;


    if (available == "yes") {
        document.getElementById("dashtitle").className = ("fas fa-dot-circle");
        document.getElementById("dashtitle").setAttribute('style', 'color:green');
    }
    if (available == "no") {
        document.getElementById("dashtitle").className = ("fas fa-dot-circle");
        document.getElementById("dashtitle").setAttribute('style', 'color:red');
    }


    //admin or not (adminuser got from nav script tag)
    if (adminuser == "false") {
        let adminblock = document.getElementsByClassName("adminblock");
        for (let e of adminblock) { e.style.display = "none"; }
    }
    if (adminuser == "true") {
        let customerblock = document.getElementsByClassName("customerblock");
        for (let e of customerblock) { e.style.display = "none"; }
    }








    //get current latitude and longitude 
    var options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };

    function success(pos) {
        var crd = pos.coords;

        console.log(crd)

        document.getElementById("lon").value = crd.longitude;
        document.getElementById("lat").value = crd.latitude;
    }

    function error(err) {
        console.warn(`ERROR(${err.code}): ${err.message}`);
    }

    const run = () => {
        navigator.geolocation.getCurrentPosition(success, error, options);
    }
</script>