<style>
    body {
        background: #f1f1f1;
    }

    input {
        padding: 20px !important;
    }
</style>

<section>
    <div class="container">
        <center style="padding-top: 10vh;padding-bottom: 15vh;color:#000">
            <h2 class="search-form" style="margin-bottom:10px;text-align: left;">Sign Up to Drive</h2>
            <h5 class="search-form" style="color: #444;margin-bottom:10px;font-size:17px;text-align: left;">Earn cash and & be your own boss</h5>
            <br>
            <form class="search-form" method="POST" action="/admin-driver-register">
                <input type="text" class="form-control" placeholder="Enter First Name" name="firstname"
                    value="{{firstname}}" required>
                <input type="text" class="form-control" placeholder="Enter Last Name" name="lastname"
                    value="{{lastname}}" required>
                <input type="text" class="form-control" placeholder="Email Adress or Number (Used for login)"
                    name="email" value="{{email}}" required>
                <input type="password" class="form-control" placeholder="Enter Password" name="password"
                    value="{{password}}" required>
                <input type="password" class="form-control" placeholder="Re-enter Password" name="password2"
                    value="{{password2}}" required>
                <input type="text" class="form-control" placeholder="Enter Your Number" name="drivernumber"
                    value="{{drivernumber}}" required>
                <input type="text" class="form-control" placeholder="Enter Driver Image Link" name="driverimage"
                    value="/img/userimage.png" required>
                <input type="text" class="form-control" placeholder="Enter Vehicle Name" name="vehiclename"
                    value="{{vehiclename}}" required>
                <input type="text" class="form-control" placeholder="Enter Vehicle Number" name="vehiclenumber"
                    value="{{vehiclenumber}}" required>
                <input type="text" class="form-control" placeholder="Enter Vehicle Image Link" name="vehicleimage"
                    value="/img/not-available.png" required>
                <select class="form-control" name="vehicletype" required>
                    <option value="">Enter You Vehicle Category</option>
                    <option value="car">Mini</option>
                    <option value="prime">Prime</option>
                    <option value="pickup">Pickup</option>
                    <option value="rental">Rental</option>
                    <option value="bike">Bike</option>
                </select>
                <select class="form-control" name="city" required>
                    <option value="">Enter You City</option>
                    <option value="nepalgunj">Nepalunj</option>
                    <option value="kohalpur">Kohalpur</option>
                </select>
                <select class="form-control" name="location" required>
                    <option value="">Enter You Pickup Location</option>
                    <option value="nepalgunj">Nepalunj</option>
                    <option value="kohalpur">Kohalpur</option>
                </select>
                <select class="form-control" name="purpose" required>
                    <option value="">Purpose</option>
                    <option value="adresspickup">Adress Pickup</option>
                    <option value="longdistance">Long Distance</option>
                    <option value="parceldelivery">Parcel Delivery</option>
                </select>
                <div style="color:#000">
                    <br>
                    <h5>Available</h5>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="available" value="yes">
                        <label class="form-check-label">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="available" value="no" checked>
                        <label class="form-check-label">No</label>
                    </div>
                </div>
                <button class="btn"
                    style="font-weight:bold;margin-top: 20px;color:#fff;background: rgb(17, 147, 154);width: 100%;padding:11px 20px;text-align: left;">
                    REGISTER
                    <img src="/img/svg/long-arrow-right.svg" style="float: right;margin-top:2px;width:14px;">
                    </button>
            </form>
            <br>
            <div class="search-form" style="text-align: left;">
                <p style="line-height: 14px;font-size:10px;margin:0 0 15px 0;">
                    By clicking "Sign Up", you agree to Uber's <a href="" style="color:rgb(17, 147, 154);">Terms of
                        Use</a> and acknowledge you have read the <a href="" style="color: rgb(17, 147, 154);">Privacy
                        Policy</a>. You also consent to receive calls or SMS messages, including by automated dialer,
                    from Uber
                    and its affiliates to the number you provide for informational and/or marketing purposes. Consent to
                    receive marketing messages is not a condition to use Uber’s services. You understand that you may
                    opt out by texting “STOP” to 89203.
                </p>
                Already have an account? <a href="/admin-login" style="color: rgb(17, 147, 154);">Log in</a>
            </div>
        </center>
    </div>
</section>