<div class="container" style="color: #000;padding-top:5vh;padding-bottom:4vh;">
    <div class="row">
        <div class="col-md-9">
            <div style="margin-bottom: 60px;">
                <h3 style="font-weight: bolder;">{{blog.title}}</h3>
                <div>
                    <span>{{blog.author}}</span>
                    <span style="float: right;">{{formatDate blog.date "MMMM Do YYYY"}}</span>
                </div>
                <img src="{{blog.thumbnail}}" style="width: 100%;">
                <p>
                    {{{ blog.body }}}
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <img src="https://www.thelocal.es/userdata/images/article/85f83e3fab5b175828ee1c02359334299dc2a25fba60d52f64d2d210104dbcf1.jpg"
                style="width: 100%;">
            <p style="font-size: 17px;font-weight:bold;margin:10px 0;">Sign up and earn with Nepsride</p>
            <a href="/admin-driver-register" class="btn" style="background:#000;color:#fff;">Drive with Nepsride</a href="/admin-driver-register">
        </div>
    </div>
</div>

{{!-- <div class="container">
    <div style="margin-top:10px;padding-top:20px;border-top:1px solid #ddd;">
        <a href="/edit-blog/{{blog._id}}" class="btn btn-sm"
            style="font-size: 13px;background:#000;color:#fff;width:100px;">Edit</a>
        <form action="/remove-blog/{{blog._id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-sm"
                style="font-size: 13px;background:red;color:#fff;width:100px;margin-top:10px;">Remove</button>
        </form>
    </div>
</div>

<br> --}}